body {
  margin:0;
	padding:0;
	font-size:1vw;
	color:#fff;
  font-family: 'Quicksand', sans-serif;
  // font-family: -apple-system, 'Roboto', sans-serif;
  // BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Roboto', 'Ubuntu',
  //'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;

  .txtWht {color:#fff;}
  .txtOrg {color:#f60;}
  .txtYlw {color:#fd0;}
  .txtGrn {color:#1a1;}
  .txtRed {color:#f00;}
  .txtBlk {color:#000;}
  .txtGry {color:#999;}

  .bold	{font-weight:bold;}

  .none     {display:none;}
  .flex 		{display:flex; justify-content:center; align-items:center;}
  .wrap 		{flex-wrap:wrap;}
  .stretch 	{align-items:stretch;}
  .column		{flex-direction:column;}
  .start		{justify-content:flex-start;}
  .end			{justify-content:flex-end;}
  .between	{justify-content:space-between;}
  .evenly	  {justify-content:space-evenly;}
  .around	  {justify-content:space-around;}

  .blur {filter:blur(5px);}
  
  .ImgBtn {
    width:2vw;
    height:2vw;
    margin:0.25vw 0.75vw;
    &:hover {
      width:2.5vw;
      height:2.5vw;
      margin:0 0.5vw;
    }
  }
  .ImgBtnSmall {
    width:1.5vw;
    height:1.5vw;
    margin:0.25vw 0.75vw;
    &:hover {
      width:2vw;
      height:2vw;
      margin:0 0.5vw;
    }
  }

  a {text-decoration:none; color:#fff;}

  .App {
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
  }
}


// 320px (dla bardzo małych urządzeń mobilnych)
// 480px (dla urządzeń mobilnych)
// 768px (dla tabletów i mniejszych laptopów)
// 992px (dla większych laptopów i komputerów stacjonarnych)
// 1200px (dla dużych monitorów)

// @media (max-width: 480px) {
//   /* Your styles for mobile devices */
// }
// @media (min-width: 481px) and (max-width: 768px) {
//   /* Your styles for tablets and smaller laptops */
// }
// @media (min-width: 769px) {
//   /* Your styles for large monitors */
// }
// @media print {
//   /* Your styles for printing */
// }