# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules/
/client/node_modules/

# VS Code settings (niepotrzebne w repozytorium)
.vscode/
/server/.vscode/
/client/.vscode/

# PnP files
/server/.pnp
/client/.pnp
/server/.pnp.js
/client/.pnp.js

# Ignored folders
/server/safe/
/server/public/
serverMail/vars.php

# Testing
/server/coverage/
/client/coverage/

# Production build
/server/build/
/client/build/
/server/dist/
/client/dist/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*