
.SearchArea {
  width:100%;
  // padding:0.25vw 0;
  margin:0 0 2vw 0;
  border:1px dashed #f60;
  border-radius:0.5vw;

  .SearchPannel {
    width:100%;

    .From, .To {
      width:13%;
      @media (min-width: 481px) and (max-width: 767px) {width:25%;}
      @media (max-width: 481px) {width:50%;}
    }
    .VIN {
      width:15%;
      @media (min-width: 481px) and (max-width: 767px) {width:50%;}
      @media (max-width: 481px) {width:60%;}
    }
    .Car {
      width:15%;
      @media (min-width: 481px) and (max-width: 767px) {width:25%;}
      @media (max-width: 481px) {width:40%;}
    }
    .Client {
      width:20%;
      @media (min-width: 481px) and (max-width: 767px) {width:40%;}
      @media (max-width: 481px) {width:50%;}
    }
    .Tel {
      width:15%;
      @media (min-width: 481px) and (max-width: 767px) {width:20%;}
      @media (max-width: 481px) {width:30%;}
    }

    .SearchBtn {
      margin:1vw 0 0 0;
    }
  }

  .SearchOrdersPannel {
    width:100%;
  }
}