
.SearchDocs {
  width:100%;
  margin-top:0.5vw;
  padding-bottom:0.5vw;

  .SearchPannel {
    width:100%;

    .SearchText {
      flex:1;
      margin:1vw 0 0 1vw;

      .txtYlw{
        margin:0 0 0 1vw;
      }
    }

    .SearchInput {
      width:30%;
    }
  }
}