
.FI {
  width:100%;
  margin:0 0 2vw 0;

  .Title {
    font-size:150%;
    margin:0 0 1vw 0;
  }

  .FinCalc {
    width:calc(99% - 1vw);
    margin:0.5vw 0;

    .FinYearSummary {
      width:calc(40% - 2.5vw - 4px);
      padding:0.5vw 1vw;
      margin:0 0.25vw;
      border:1px solid #444;
      border-radius:0.5vw;
      @media (min-width: 481px) and (max-width: 767px) {width:calc(65% - 2.5vw - 4px);}
      @media (max-width: 481px) {width:calc(100% - 2.5vw - 4px);}

      .FinYear {
        width:100%;
        min-height:2vw;

        .YearNow {
          width:30%;
          min-height:1.5vw;
          border-top:1px solid #f60;
          border-bottom:1px solid #f60;
        }

        .YearBtn {
          width:calc(30% - 2px);
          min-height:1.5vw;
          color:#999;
          border-radius:0.5vw;
          border:1px solid #444;
        }

        .GrnBtn {
          color:#fff;
          background-color:#171;
          border:1px solid #171;
          &:hover {
            font-size:120%;
            cursor: pointer;
          }
        }
      }
  
      .FinYearInfo {
        width:100%;
        min-height:1.5vw;
  
        .FinYearInfoGroup {
          width:100%;
          margin-top:1vw;
          font-size:110%;
        }
        .FinYearInfoTxt {width:70%;}
        .FinYearInfoVal {width:30%;}
      }
    }

    .FinCalcSection {
      width:calc(60% - 2.5vw - 4px);
      padding:0.5vw 1vw;
      margin:0 0.25vw;
      border:1px solid #444;
      border-radius:0.5vw;
      @media (min-width: 481px) and (max-width: 767px) {width:calc(35% - 2.5vw - 4px);}
      @media (max-width: 481px) {width:calc(100% - 2.5vw - 4px);}
    }
  }

  .FinanceMonth {
    width:calc(99% - 1vw);
    margin:0.5vw 0;

    .FinMonthSummary {
      width:calc(40% - 0.5vw - 4px);
      margin:0 0.25vw;
      padding:0 0 0.5vw 0;
      border:1px solid #444;
      border-radius:0.5vw;
      @media (min-width: 481px) and (max-width: 767px) {width:calc(65% - 0.5vw - 4px);}
      @media (max-width: 481px) {width:calc(100% - 0.5vw - 4px);}

      .TopLine {
        background-image:linear-gradient(#000, #0001);
        border-radius:0.5vw 0.5vw 0 0;
      }
      .Line {
        width:calc(100% - 1vw);
        padding:0 0.5vw;
        min-height:1.5vw;
  
        .LineDate {width:20%; padding:0.7vw 0;}
        .LineBtn {width:80%;}
        .LineGroup {
          width:100%;
          margin-top:1vw;
          font-size:110%;
        }
        .LineName {width:70%;}
        .LineVal {
          width:30%;
  
          input {
            width:60%;
            min-height:calc(1.2vw - 2px);
            text-align:end;
            color:#fff;
            background-color:transparent;
            border:1px solid #999;
            border-radius:0.25vw;
            &:focus {
              background-color:#1711;
            }
          }
        }
      }
    }

    .FinMonthSection {
      width:calc(60% - 2.5vw - 4px);
      padding:0.5vw 1vw;
      margin:0 0.25vw;
      border:1px solid #444;
      border-radius:0.5vw;
      @media (min-width: 481px) and (max-width: 767px) {width:calc(35% - 2.5vw - 4px);}
      @media (max-width: 481px) {width:calc(100% - 2.5vw - 4px);}

      .FinWarning {
        width:100%;

        .WarningLine {
          width:100%;
        }
      }

      .ShowDocsBtn {
        width:40%;
        min-height:2vw;
        background-color: #171;
        border-radius:0.5vw;
        text-align:center;
        @media (min-width: 481px) and (max-width: 767px) {
          width:90%;
          min-height:5vw;
        }
        @media (max-width: 481px) {
          width:80%;
          min-height:7vw;
        }
      }
    }

    .FinMonthDocs {
      width:calc(100% - 2vw - 2px);
      margin:0.5vw 0 0 0;
      padding:0 0.5vw 0.5vw 0.5vw;
      border:1px solid #444;
      border-radius:0.5vw;

      .NewDocBtns {
        width:100%;
        margin:0.25vw 0;

        .NewDocBtn {
          width:20%;
          min-height:3vw;
          margin:0.5vw;
          text-align:center;
          color:#fff;
          border-radius:0.5vw;
          @media (min-width: 481px) and (max-width: 767px) {
            width:calc(25% - 1vw);
            min-height:5vw;
          }
          @media (max-width: 481px) {
            width:calc(25% - 1vw);
            min-height:9vw;
          }
        }
      }

      .FinDoscLineTop {
        padding:0.5vw;
        background-color: #111;
        border-radius:0.5vw 0.5vw 0 0;
      }
      .FinDoscLine {
        width:100%;
        min-height:2vw;
        border-bottom:1px solid #444;

        .FinCell {padding:0 0.25%;}
        .FinNum {width:calc(5% - 0.5vw);}
        .Between {
          flex:1;
          .FinNam {
            width:calc(15% - 0.5vw);
            @media (max-width: 767px) {width:calc(50% - 0.5vw);}
          }
          .FinUsr {
            width:calc(8% - 0.5vw);
            @media (max-width: 767px) {width:calc(20% - 0.5vw);}
          }
          .FinNet {
            width:calc(6% - 0.5vw);
            @media (max-width: 767px) {width:calc(15% - 0.5vw);}
          }
          .FinBru {
            width:calc(6% - 0.5vw);
            @media (max-width: 767px) {width:calc(15% - 0.5vw);}
          }
          .FinInf1 {
            flex:1;
            display:flex;
            @media (max-width: 767px) {display:none;}
          }
          .FinInf2 {
            width:calc(100% - 0.5vw);
            display:none;
            @media (max-width: 767px) {display:flex;}
          }
        }
        .FinBtn {
          width:calc(5% - 0.5vw);
          padding:0.25vw 0;
          text-align:center;
          @media (max-width: 767px) {width:calc(10% - 0.5vw);}
        }
      }
      .FinDocColorZU {background-color: #fd01;}
      .FinDocColorZL, .FinDocColorFS, .FinDocColorPS {background-color: #1711;}
      .FinDocColorFZ, .FinDocColorPZ {background-color: #f001;}
    }
  }

  .BottomLine {
    width:100%;

    .PrevBtn {
      width:15%;
      min-height:2vw;
      margin:1vw 2vw;
      background-color: #171;
      border-radius:0.5vw;
      &:hover {
        font-size:120%;
        cursor: pointer;
      }
      @media (min-width: 481px) and (max-width: 767px) {
        width:30%;
        min-height:5vw;
      }
      @media (max-width: 481px) {
        width:50%;
        min-height:7vw;
      }
    }
  }
}