
.FI {
  width:100%;
  margin:0 0 2vw 0;

  .Title {
    font-size:150%;
    margin:0 0 1vw 0;
  }

  .FinCalc {
    width:calc(99% - 1vw);
    margin:0.5vw 0;

    .FinYearSummary {
      width:calc(30% - 2.5vw - 4px);
      padding:0.5vw 1vw;
      margin:0 0.25vw;
      border:1px solid #444;
      border-radius:0.5vw;

      .FinYear {
        width:100%;
        min-height:2vw;

        .YearNow {
          width:30%;
          min-height:1.5vw;
          border-top:1px solid #f60;
          border-bottom:1px solid #f60;
        }

        .YearBtn {
          width:calc(30% - 2px);
          min-height:1.5vw;
          color:#999;
          border-radius:0.5vw;
          border:1px solid #444;
        }

        .GrnBtn {
          color:#fff;
          background-color:#171;
          border:1px solid #171;
          &:hover {
            font-size:120%;
            cursor: pointer;
          }
        }
      }
  
      .FinYearInfo {
        width:100%;
        min-height:1.5vw;
  
        .FinYearInfoGroup {width:100%; margin-top:1vw;}
        .FinYearInfoTxt {width:70%;}
        .FinYearInfoVal {width:30%;}
      }
    }

    .FinCalcSection {
      width:calc(70% - 2.5vw - 4px);
      padding:0.5vw 1vw;
      margin:0 0.25vw;
      border:1px solid #444;
      border-radius:0.5vw;
    }
  }

  .FinanceMonth {
    width:calc(99% - 1vw);
    margin:0.5vw 0;

    .FinMonthSummary {
      width:calc(30% - 0.5vw - 4px);
      margin:0 0.25vw;
      padding:0 0 0.5vw 0;
      border:1px solid #444;
      border-radius:0.5vw;

      .TopLine {
        background-image:linear-gradient(#000, #0001);
        border-radius:0.5vw 0.5vw 0 0;
      }
      .Line {
        width:calc(100% - 1vw);
        padding:0 0.5vw;
        min-height:1.5vw;
  
        .LineDate {width:20%; padding:0.7vw 0;}
        .LineBtn {width:80%;}
        .LineGroup {width:100%;}
        .LineName {width:70%;}
        .LineVal {
          width:30%;
  
          input {
            width:60%;
            min-height:calc(1.2vw - 2px);
            text-align:end;
            color:#fff;
            background-color:transparent;
            border:1px solid #999;
            border-radius:0.25vw;
            &:focus {
              background-color:#1711;
            }
          }
        }
      }

    }

    .FinMonthSection {
      width:calc(70% - 2.5vw - 4px);
      padding:0.5vw 1vw;
      margin:0 0.25vw;
      border:1px solid #444;
      border-radius:0.5vw;

      .FinWarning {
        width:100%;

        .WarningLine {
          width:100%;
        }
      }

      .ShowDocsBtn {
        width:40%;
        min-height:2vw;
        background-color: #171;
        border-radius:0.5vw;
      }
    }

    .FinMonthDocs {
      width:calc(100% - 2vw - 2px);
      margin:0.5vw 0 0 0;
      padding:0 0.5vw 0.5vw 0.5vw;
      border:1px solid #444;
      border-radius:0.5vw;

      .NewDocBtns {
        width:100%;
        margin:0.25vw 0;

        .NewDocBtn {
          width:20%;
          min-height:2vw;
          margin:0 0.5vw;
          color:#fff;
          border-radius:0.5vw;
        }
      }

      .FinDoscLineTop {
        padding:0.5vw;
        background-color: #111;
        border-radius:0.5vw 0.5vw 0 0;
      }
      .FinDoscLine {
        width:100%;
        min-height:2vw;
        border-bottom:1px solid #444;

        .FinNum {width:5%;}
        .FinUsr {width:8%;}
        .FinNam {width:10%;}
        .FinInf {width:60%;}
        .FinNet {width:6%; text-align:center;}
        .FinBru {width:6%; text-align:center;}
        .FinBtn {width:5%; padding:0.25vw 0; text-align:center;}
      }
      .FinDocColorZU {background-color: #fd01;}
      .FinDocColorZL, .FinDocColorFS, .FinDocColorPS {background-color: #1711;}
      .FinDocColorFZ, .FinDocColorPZ {background-color: #f001;}
    }
  }

  .BottomLine {
    width:100%;

    .PrevBtn {
      width:15%;
      min-height:2vw;
      margin:0 2vw;
      background-color: #171;
      border-radius:0.5vw;
      &:hover {
        font-size:120%;
        cursor: pointer;
      }
    }
  }
}