
.ZL {
  width:99%;

  .LeftLine {
    position:relative;
    width:calc(70% - 0.5% - 2px);
    min-height:1vw;
    padding:0.5vw 0.5% 0 0;
    border-right:1px solid #999;

    .NewOrderBtn {
      width:25%;
      min-height:2vw;
      margin-left:2vw;
      background-color:#f60;
      border:1px solid#fff;
      border-radius:0.25vw;
      &:hover {
        font-size:110%;
        cursor:pointer;
        background-image:linear-gradient(0deg, #1111, #1115 40% 60%, #1111);
      }
    }

    .StatusLine {
      position:absolute;
      top:1.5vw;
      opacity:0.8;
      width:calc(100% - 1vw);
      min-height:2px;
    }
  }

  .RightLine {
    width:calc(30% - 0.5%);
    padding:0.5vw 0 0 0.5%;

    .AddWeekBtn {
      width:100%;
      margin:0.5vw 0;
      padding:0.5vw 0;
      background-color:#171;
      border-radius:0.5vw;
    }

    .DayName {
      width:calc( (100% / 7) - 2px );
      padding:0.25vw 0;
      background-color:#111;
      border:1px solid #999;
      border-radius:0.5vw;
    }

    .WeekDayName {
      width:calc( (100% / 7) - 2px );
      padding:0.5vw 0;
      background-color:#111;
      border:1px solid #999;
      border-radius:0.5vw;
    }

    .SameMonth {opacity:0.4;}
    .HolyDay {background-color:#f002;}
    .Today {
      background-color:#f60;
      border-color:#fff;
      &:hover {
        cursor:pointer;
        background-image:linear-gradient(0deg, #1111, #1115 40% 60%, #1111);
      }
    }
  }
  
  .DaysNamePannel {
    width:100%;
  }

  .WeekPannel {
    width:100%;
  }

  .OrdersLine {
    width:100%;

    .Order {
      width:100%;

      .OrderCell {
        padding:0 0.5vw;
        min-height:2vw;
        border-right:1px solid #999;
        border-radius:0.25vw;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
      .OrderAva {width:calc(5% - 1vw - 1px);}
      .OrderNr {width:calc(15% - 1vw - 1px);}
      .OrderCar {width:calc(40% - 1vw - 1px);}
      .OrderTel {width:calc(25% - 1vw - 1px);}
      .OrderElse {width:calc(15% - 1vw - 1px);}

      .OrderR {
        position:relative;

        .OrderBody {
          width:calc(100% - 0.5vw - 2px);
          padding:0.1vw 0.5vw 0.1vw 0;
          min-height:2vw;
          border-left:1px solid #999;
          border-right:1px solid #999;
          border-radius:0.5vw;
        }

        .StatusLine {
          position:absolute;
          top:1vw;
          opacity:0.8;
          width:calc(100% - 0.5vw);
          min-height:2px;
        }
      }

      .AvaImg {
        width:2vw;
        min-height:2vw;
        margin:0.1vw 0;
        background-color:#0005;
      }
    }
  }

  .StatusLineColor_open {background-color:transparent;}
  .StatusLineColor_repair {background-color:transparent;}
  .StatusLineColor_close {background-color:#fd07;}
  .StatusLineColor_delete {background-color:#f007;}
}