
.QuaBtns {
  width:100%;

  .QuaBtnMinus, .QuaBtnPlus {
    width:2.5vw;
    @media (min-width: 481px) and (max-width: 767px) {width:5vw;}
    @media (max-width: 481px) {width:7vw;}
  }
  .Quantity {
    width:5vw;
    padding:0.25vw 0;
    border:1px solid #444;
    @media (min-width: 481px) and (max-width: 767px) {width:12vw;}
    @media (max-width: 481px) {width:20vw;}
  }
}