
.EditArea {
  width:calc(100% - 1vw - 2px);
  margin:1vw 0;
  padding:0.5vw;
  border:1px solid #999;
  border-radius:0.5vw;
  box-shadow: 0 0 0.5vw 0.5vw #999;

  .ElFaults, .ElComments {
    width:calc(99% - 2px);
    margin:0 0 1vw 0;
    border:1px solid #999;
    border-radius:0.5vw;

    .FaultsTop, .CommentsTop {
      width:calc(100% - 4vw);
      min-height:2vw;
      padding:0.5vw 2vw;
      font-size:150%;
      background-color:#111;
      border-radius:0.5vw 0.5vw 0 0;
    }

    .TextAreaSection {
      width:100%;
      margin:0.5vw 0.25vw;
    }
  }

  .ElSignatures {
    width:100%;
    margin:5vw 0 0 0;
  
    .Signature{
      width:calc(50% - 2vw);
      margin:1vw;
  
      .SignLine{
        width:80%;
        margin:0.5vw 0;
        border-bottom:1px dashed #999;
      }
    }
  }
}