
.Software {
  width:100%;

  .BrandsWrapper {
    width:100%;

    .Brand {
      width:calc(25% - 2vw - 2px);
      margin:0.5vw;
      padding:0.5vw;
      border:1px solid #999;
      border-radius:0.5vw;

      .IcoColor {
        filter: invert(100%);
      }
    }
  }
}