
.Calendar {
  width:100%;
  margin:1vw 0 2vw 0;

  .WeekArea{
    width:100%;

    .WeekDocs {
      width:100%;
  
      .LeftPannel {
        position:relative;
        width:calc(70% - 0.5vw - 1px);
        padding:0.1vw 0.25vw;
        border-right: 1px solid #999;

        .SelBtn {
          width:18%;
          min-height:2.5vw;
          font-weight:bold;
  
          &:hover {
            font-size:120%;
          }
        }

        .NewDocBtn {
          background-color: #f60;
          border-radius:0.5vw 0 0 0.5vw;
        }

        .SortDocBtn {
          background-color: #171;
          border-radius:0 0.5vw 0.5vw 0;
        }

        .SelBtnNotAct {
          border-radius:0.5vw;
        }

        .SelectDocBtnPannel {
          position:relative;
          width:60%;
          min-height:calc(2.5vw - 2px);

          .SelectDocBtn {
            z-index:10;
            width:13%;
            min-height:2vw;
            border-radius:0.5vw;
            border:1px solid transparent;
  
            &:hover {
              background-color:#fd02;
            }
          }

          .ActDocBtn {
            color:#fff;
            font-weight:bold;
            border:1px solid #999;
          }
        }

        .SelPannelNEW {
          background-color: #f602;
          padding:0 0 0 1vw;
          margin:0 1vw 0 0;
          border-top:1px solid #f60;
          border-bottom:1px solid #f60;
          border-radius:0 0.5vw 0.5vw 0;
        }

        .SelPannelSORT {
          background-color: #1712;
          padding:0 1vw 0 0;
          margin:0 0 0 1vw;
          border-top:1px solid #171;
          border-bottom:1px solid #171;
          border-radius:0.5vw 0 0 0.5vw;
        }
  
        .DayNameWeekEmpty {
          width:100%;
          min-height:calc(2.5vw + 2px);
        }
  
        .DocLeft {
          width:100%;
          margin:0.25vw 0 0 0;
  
          .DocCell {
            position:relative;
            min-height:2.5vw;
            padding:0 0.25vw;
            border:1px solid #999;
            border-radius:0.25vw;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
          }
  
          .DocAva {width:5%;}
          .DocNr {width:15%;}
          .DocClientName, .DocCarName {flex:1;}
          .DocClient, .DocNIP {width:15%;}
          .DocSum {width:10%;}
          
          .IcoColor { filter: invert(100%); }
        }
      }
  
      .RightPannel {
        position:relative;
        width:calc(30% - 0.5vw);
        padding:0.1vw 0.25vw;
  
        .DayName {
          min-height:1.2vw;
        }
  
        .DayNameWeek {
          min-height:2.5vw;
        }
  
        .DayName, .DayNameWeek {
          width:calc((100% / 7) - 4px);
          margin:0 1px;
          background-color: #111;
          border:1px solid #fff;
          border-radius: 0.5vw;
        }
  
        .SameMonth {opacity:0.4;}
        .HolyDay {background-color:#f002;}
        .Today {
          background-color:#f60;
          border-color:#fff;
          &:hover {
            cursor:pointer;
            background-image:linear-gradient(0deg, #1111, #1115 40% 60%, #1111);
          }
        }
  
        .DocRight {
          width:100%;
          margin:0.25vw 0 0 0;
  
          .DocBefore, .DocAfter {
            min-height:2.5vw;
            border-top:1px solid #9991;
            border-bottom:1px solid #9991;
          }
  
          .DocBody {
            position:relative;
            width:calc(100% - 2px);
            min-height:2.5vw;
            border-radius:0.25vw;
          }
        }
  
        .AddWeekBtn {
          flex:1;
          min-height:2vw;
          background-color:#171;
          border-radius:0.5vw;
          &:hover {
            font-weight:bold;
            background-image:linear-gradient(#1915, #191, #1915);
          }
        }
      }

      .DownLoadBar {
        position:absolute;
        z-index:99;
        width:calc(100% - 0.5vw - 2px);
        margin:0.25vw 0 0 1px;
      }

      .EditArea {
        width:98%;
      }
    }
  }
}