
.BuyPannel {
  width:100%;

  .BuyLeft {
    width:30%;

    .CartBtn {
      width:4vw; height:4vw; margin:0.25vw 0.75vw;
      &:hover {width:4.5vw; height:4.5vw; margin:0 0.5vw;}
      @media (min-width: 481px) and (max-width: 767px) {
        width:7vw; height:7vw; margin:0.5vw 1vw;
        &:hover {width:8vw; height:8vw; margin:0 0.5vw;}
      }
      @media (max-width: 481px) {
        width:11vw; height:11vw; margin:0.5vw 1vw;
        &:hover {width:12vw; height:12vw; margin:0 0.5vw;}
      }
    }
  }

  .BuyRight {
    width:70%;

    .QuaBtns {
      width:100%;

      .QuaBtnMinus, .QuaBtnPlus {
        width:2vw;
        @media (min-width: 481px) and (max-width: 767px) {width:4vw;}
        @media (max-width: 481px) {width:6vw;}
      }
      .Quantity {
        width:5vw;
        padding:0.25vw 0;
        border:1px solid #444;
        @media (min-width: 481px) and (max-width: 767px) {width:12vw;}
        @media (max-width: 481px) {width:20vw;}
      }
    }

    .Availability {
      width:90%;
      min-height:2.5vw;
      font-size:90%;
      @media (min-width: 481px) and (max-width: 767px) {min-height:5vw;}
      @media (max-width: 481px) {min-height:7vw;}
    }

    .Price {
      width:95%;
      margin:0.5vw 0;
      font-size:170%;
    }
  }
}