
.TagUl {
  width:100%;

  .Ul {
    width:90%;
    margin:1vw 2vw 0 2vw;
    font-size: 120%;
    font-weight: bold;
  }


  ul {
    width:90%;

    li {
      width:98%;
      color:#bbb;
    }
  }
}