
.ElFiles {
  width:99%;
  margin:0 0 1vw 0;
  border:1px solid #999;
  border-radius:0.5vw;
  @media print {display:none !important;}

  .ElFilesTop {
    width:calc(100% - 4vw);
    min-height:2vw;
    padding:0.5vw 2vw;
    font-size:150%;
    background-color:#111;
    border-radius:0.5vw 0.5vw 0 0;
  }

  .FileLine {
    width:99%;
    min-height:3vw;
    border-bottom:1px solid #444;
    &:hover {background-color:#1115;}

    .FileName {
      flex:1;
      &:hover {color:#fd0;}
    }
    .FileSize {
      width:4%;
      font-size:80%;
      @media (min-width: 481px) and (max-width: 767px) {width:8%;}
      @media (max-width: 481px) {width:13%;}

      .num {width:65%;}
      .unit {width:35%;}
    }
    .FileAct {
      width:8%;
      @media (min-width: 481px) and (max-width: 767px) {width:13%;}
      @media (max-width: 481px) {width:18%;}
    }
  }

  .UploadNewFile {
    width:calc(50% - 2vw);
    padding:1vw;
  }
}