
.ElFiles {
  width:99%;
  margin:0 0 1vw 0;
  border:1px solid #999;
  border-radius:0.5vw;
  @media print {display:none !important;}

  .ElFilesTop {
    width:calc(100% - 4vw);
    min-height:2vw;
    padding:0.5vw 2vw;
    font-size:150%;
    background-color:#111;
    border-radius:0.5vw 0.5vw 0 0;
  }

  .FileLine {
    width:99%;
    min-height:3vw;
    border-bottom:1px solid #444;
    &:hover {background-color:#1115;}

    .FileName {
      flex:1;
      &:hover {color:#fd0;}
    }
    .FileSize {
      width:4%;
      font-size:80%;
      @media (min-width: 481px) and (max-width: 767px) {width:8%;}
      @media (max-width: 481px) {width:13%;}

      .num {width:65%;}
      .unit {width:35%;}
    }
    .FileAct {
      width:8%;
      @media (min-width: 481px) and (max-width: 767px) {width:13%;}
      @media (max-width: 481px) {width:18%;}
    }
  }

  .UploadBtns {
    width:calc(50% - 2vw);
    padding:1vw;
    @media (min-width: 481px) and (max-width: 767px) {width:calc(80% - 2vw)}
    @media (max-width: 481px) {width:calc(100% - 2vw)}

    .UploadFile {
      width:calc(50% - 1vw - 2px);
    }

    .UploadLink {
      width:calc(50% - 1vw - 2px);
      padding:1vw 0.5vw;
      border:1px dashed #171;
      border-radius:0.5vw;
      &:hover {
        border-color:#191;
        background-color:#1711;
      }

      .AddBtn {
        width:100%;
        min-height:2vw;
      }

      .UploadLinkInputs {
        width:calc(100% - 0.5vw - 2px);
        padding:0.25vw;
        border:1px solid #999;
        border-radius:0.5vw;
      }

      .UploadLinksBtns {
        width:100%;

        .UploadLinksBtn {
          flex:1;
          min-height:2.5vw;
          margin:0.25vw 0;
          @media (min-width: 481px) and (max-width: 767px) {min-height:5vw;}
          @media (max-width: 481px) {min-height:7vw;}
        }
      }
    }
  }
}